extends layout

block content
    div.container
        h1 Create New Movie
        form(action="/movies/add" method="post")
            label(for="title") Title
            input.form-control(type="text" name="title" required)
            
            label(for="director") Director
            input.form-control(type="text" name="director" required)
            
            label(for="year") Year
            input.form-control(type="text" name="year" required)
            
            label(for="notes") Notes
            textarea.form-control(name="notes" cols="30" rows="10")
            
            button.btn.btn-success.w-100(type="submit") Save
            
        a.btn.btn-secondary.my-2.w-100(href="/movies") Back
