extends layout

block content
  h1= title
  p Are you sure you want to delete the following Movie ?
  hr
  form(method='POST' action=`/movies/${movie.id}/delete`)
    button(type='submit') Confirm Delete
    | 
    a(href=`/movies/${movie.id}`) Cancel