extends layout

block content
  .container
    h1(style="color: #007BFF; font-size: 2.5rem;") #{title}
    p(style="font-size: 1.2rem;") Welcome to my MovieDatabase page .
  .button-wrapper(style="margin-top: 20px;")
      button.btn.btn-success(type="button", onclick="window.location.href='movies/list'") View Movies