extends layout

block content
  h1= title
  p Welcome to #{title}
  .button-wrapper(style="margin-top: 20px;")
      button.btn.btn-success(type="button", onclick="window.location.href='movies/list'") View Movies